.navbar
    input
        display: none
    label.toggleMenu
        display: none
        padding: 15px 40px
        text-align: center
        position: relative
        img
            width: 20px
            padding-right: 5px
        .menu-text
            font-size: 20px
            text-transform: uppercase
    label.toggleSubMenu
        display: none
            