.header
    &-search
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 35px
        padding-bottom: 60px
    &-logo
    &-form
        position: relative
        &__input
            border: none
            border-bottom: 1px solid black
            padding-bottom: 8px
            padding-right: 350px
            font-family: 'Helvetica Now Text'
        &__btn
            position: absolute
            top: 10%
            right: 1%
            border: none
            outline: none
            background: url(/assets/img/icons/icon__lens.png) center no-repeat
            width: 15px
            height: 15px

    &-cart
        &__link
            text-decoration: none
            position: relative
            display: flex
            justify-content: center
            align-items: center
            &::after
                // position: absolute
                // content: "2"
                // height: 20px
                // width: 20px
                // background-color: blue
                // text-align: center
                // vertical-align: middle
                // border-radius: 50px
