*
    box-sizing: border-box
    margin: 0
    font-size: 12.5px

.container
    max-width: 1140px
    margin: auto

@import "_variables.sass"
@import "_fonts.sass"
@import "_header"
@import "_search.sass"